* {
  box-sizing: border-box;
}

body {
  width: 1200px;
  margin: 0 auto;
  background-color: #dcdcdc;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

p {
  padding:20px;
}

h1 {
  text-align: center;
}

/* HEADER-NAV */

.nav {
  list-style: none;
  background-color: #faf0e6;
  text-align: center;
  padding: 0;
}

.nav li {
  font-size: 20px;
  line-height: 40px;
  height: 40px;
  display: inline-block;
  margin-right: -4px;
  width: 20%;
}

.nav a {
  text-decoration: none;
  color: black;
  display: block;
  transition: 0.3s background-color;
}

.nav a:hover {
  background-color: #ffe2d9;
}

/* FLEXBOX */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-child {
  font-size: 20px;
  flex-basis: 22%;
  background-color: #eeeeee;
  margin-bottom: 4%;
}

.flex-container > div:nth-child(9) {
  flex-basis: 48%;
}

/* GRID */

.grid-container {
  display: grid;
  grid-template-rows: repeat(3, 280px);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  margin-bottom: 50px;
}

.grid-item {
  background-color: #eeeeee;
  font-size: 20px;
}

.grid-item-long {
  grid-row: span 2;
}

.grid-item-long2 {
  grid-column: span 2;
}
.grid-item-long3 {
  grid-column: span 2;
}

/* FOOTER */

footer {
  text-align: center;
  font-size: 20px;
  background-color: #faf0e6;
  padding: 15px;
}
